    header{
	display: inline-block;
	background-color: blue;
	border: 2px, solid, navy;
	height: 80px;
	width: 100%;
}

html{
	background-color: linen;
}

footer{
	display: inline-block;
	background-color: blue;
	border: 2px, solid, navy;
	height: 100px;
	width: 100%;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
h5{
	text-align: center;
}

h1 {
	text-align: center;
}

p{
	text-align: justify;
	font-family: georgia;
	font-size: 15px;
}

a{
	text-decoration: none;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	//position: fixed;
	overflow: auto;
}

a:link, a:visited{
	color: white;
	padding: 14px 25px;
	text-align: center;
	display: inline-block; 
	width: 100px;
	height: 40px;
}

a:hover {
    background-color: white;
	color: blue;
}